@use '../../styles/variables.scss' as *;

.progress {
  position: relative;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  border-radius: $radius-xl;
  background-color: $secondary;
}

.indicator {
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  background-color: $primary;
  transition: all $transition-base;
  transform-origin: left;
}
